
.highscorepage {
    display:none;
}

#restartquiz {
    color:white;
    background-color: var(--accent);
    width: 125px;   
    border-radius: 10px;
    height: 50px;
}

#clearhighscores {
    color:white;
    background-color: var(--accent) ;
    width: 125px;   
    border-radius: 10px;
    height: 50px;
}