:root {
    --accent: rgba(19, 8, 74, 0.881);
    --hovercolor: rgb(175, 175, 243);
    --favoritefont:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--favoritefont);
   
  }
  .highscorepage {
    padding-left: 50px;
    padding-top:20px; 
  };

  .highscorepage h1 {
    font-weight: bold;
    color:black;  
  }
  #leader1,
  #leader2,
  #leader3,
  #leader4,
  #leader5{
      background-color:var(--accent);
      border-color: gray;
      width: 450px;   
      border-radius: 10px;
      height: 50px; 
      font-size: 20px;
      color:white;
      padding-left: 50px;
      padding-top: 5px;
  }
#restartquiz, #clearhighscores {
    color:white;
    background-color: var(--accent);
    width: 125px;   
    border-radius: 10px;
    height: 50px;
    padding: 5px 5px 5px 5px;
}
#restartquiz:hover,
#clearhighscores:hover
{
    background-color: var(--hovercolor);
}

