:root {
    --accent: rgba(19, 8, 74, 0.881);
    --hovercolor: rgb(175, 175, 243);
    --favoritefont:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--favoritefont);
   
  }

  .highscorepage h1 {
      
  }

#restartquiz {
    color:white;
    background-color: var(--accent);
    width: 125px;   
    border-radius: 10px;
    height: 50px;
}

#clearhighscores {
    color:white;
    background-color: var(--accent) ;
    width: 125px;   
    border-radius: 10px;
    height: 50px;
}