.scoreboard {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    width:300px;
    font-family:'Times New Roman', Times, serif;
}
.studentname .studentgrades {
    padding:10px;
    text-align: center;
    color:red;
}

.studentname {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.highscores__control-button {
	flex-grow: 1;
	border: none;
	background: #eee;
	cursor: pointer;
	font-size: 1.2em;
}

.highscores__control-button:hover {
	background: #ddd;
}

.highscores__control-button:active {
	background: #ccc;
}