 /* CSS variables for color palette and fonts*/
:root {
    --accent: rgba(19, 8, 74, 0.881);
    --hovercolor: rgb(175, 175, 243);
    --favoritefont:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--favoritefont);
  }

  .container {
  
}
  /* Nav Style Start*/

  nav {
  }

  /* Score and Time  Style End*/
.viewhighscoresandtime {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding-top: 25px;
    margin-right: 5px;
    font-size: 20px;
}

.highscoreslink {
    color: var(--accent);
    font-family:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    padding-left: 10px;
}

#timerprefix {
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    padding-right: 40px;
}
.timerdisplay {
    font-family:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}

#timer{
    color: black;
}
.welcomepage p{
    
}
.welcomepage h1{
   }

.startquizbutton {
}

#startQuiz {
    font-size: 20px;
    color:white;
    background-color: var(--accent);
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
#question-box {
    display: none;
}

.largequestion {
    font-weight: bold;
    color:black;
}


#multiple-choice1 {
    background-color:var(--accent);
    width: 200px;   
    border-radius: 10px;
    height: 50px; 
    font-size: 25px;
    color:white;
    margin-left: 25px;
}

#multiple-choice2 {
    background-color:var(--accent);
    width: 200px;   
    border-radius: 10px;
    height: 50px;  
    font-size: 25px;
    color:white;
    margin-left: 25px;
}

#multiple-choice3 {
    background-color:var(--accent);
    width: 200px;   
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    color:white;
    margin-left: 25px;
}

#multiple-choice4 {
    background-color:var(--accent);
    width: 200px;   
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    color:white;
    margin-left: 25px;
}

#instant-feedback {
    color: grey;
    border-top: dashed grey;
}
.alldonepage {
    display:none;
}
#initalsbox {
    color:white;
    background-color: var(--accent);
}

.highscorepage {
    display:none;
}

#restartquiz {
    color:white;
    background-color: var(--accent);
    width: 125px;   
    border-radius: 10px;
    height: 50px;
}

#clearhighscores {
    color:white;
    background-color: var(--accent) ;
    width: 125px;   
    border-radius: 10px;
    height: 50px;
}